/* Google font: Raleway */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

/* Google font: Open Sans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  /* Primay */
  --dark-blue-intro: hsl(217, 28%, 15%);
  --main-bg: hsl(218, 28%, 13%);
  --footer-bg: hsl(216, 53%, 9%);
  --reviews-bg: hsl(219, 30%, 18%);

  /* Accent */
  --cyan-gradient: hsl(176, 68%, 64%);
  --blue-gradient: hsl(198, 60%, 50%);
  --error-clr: hsl(0, 100%, 63%);

  /* Neutral */
  --white: hsl(0, 0%, 100%);

  /* Typography */
  --body-font-size: 1.2em;
  --body-font-family: "Open Sans", sans-serif;
  --head-btn-nav-ff: "Raleway", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body,
html {
  overflow-x: hidden;
}
body {
  background-color: var(--main-bg);
  color: var(--white);
  font-size: var(--body-font-size);
  font-family: var(--body-font-family);
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
.cta {
  font-family: var(--head-btn-nav-ff);
  font-weight: 700;
}
p {
  font-size: 0.9rem;
  line-height: 1.8em;
}
.header {
  background-color: var(--dark-blue-intro);
}
nav {
  display: flex;
  justify-content: space-between;
  padding-top: 2em;
  margin-bottom: 2em;
  margin-left: 1em;
  margin-right: 3em;
}
.nav-brand {
  transform: scale(0.5);
  transform-origin: 0 0;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  margin-left: -1em;
  opacity: 0.8;
}
.nav-item + .nav-item {
  margin-left: 0.5em;
}
.nav-item a {
  color: var(--white);
  font-size: 1.1rem;
  font-weight: 400;
  white-space: nowrap;
}
header {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  width: 90vw;
}
header h1 {
  font-size: 1.7rem;
  line-height: 1.5em;
  margin: 1em -0.5em;
}
header p {
  margin-bottom: 2em;
}
.illustration {
  width: 100%;
}
.cta {
  max-width: 80%;
  width: 70%;
  background: var(--cyan-gradient);
  background: linear-gradient(
    135deg,
    var(--cyan-gradient) 45%,
    var(--blue-gradient) 100%
  );
  color: var(--white);
  border: none;
  border-radius: 3em;
  padding: 1.5em 5em;
  margin: 0 auto;
}
.curvy-bg img {
  position: relative;
  width: 100%;
  height: 30%;
  object-fit: cover;
}
.curvy-bg .curvy-half {
  width: 100%;
  height: 70%;
  margin-top: -1em;
  background-color: var(--main-bg);
}
.curvy-bg {
  position: absolute;
  top: 18em;
  width: 100vw;
  height: 61.5vh;
}
.offers-wrapper {
  margin: 9em 2em;
  text-align: center;
}
.offers-wrapper img {
  width: 19%;
  margin-bottom: 1em;
}
.offers-wrapper h2 {
  font-size: 1.3rem;
  margin-bottom: 0.5em;
}
.access,
.security,
.collaboration,
.store {
  margin-bottom: 3.9em;
}
.productive-wrapper{
    width: 90vw;
    margin: 0 auto 9em;
}
.productive-wrapper h3{
    font-size: 1.3rem;
    margin: 2em 0 1em;
}
.productive-wrapper p{
    margin-bottom: 1em;
}
.productive-wrapper a{
    font-size: .9rem;
    color: var(--cyan-gradient);
    border-bottom: 1px solid var(--cyan-gradient);
    padding-bottom: .3em;
}
.productive-wrapper a span{
    position: relative;
    bottom: -.2em;
}
.reviews-wrapper{
    width: 80vw;
    margin: auto;
}
.reviews-wrapper::before{
    content: url(./images/bg-quotes.png);
    position: relative;
    left: 1em;
    top: .8em;
    z-index: -1;
}
.people{
    background-color: var(--reviews-bg);
    padding: 2em 1em;
    margin-bottom: 1em;
}
.people p{
    font-size: .8rem;
    opacity: .9;
}
.people .profile{
    margin-top: 1em;
}
/* .fd-col{
    align-content: stretch;
} */
.people .profile img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    float: left;
    margin-right: .5em;
}
.people .profile h4{
    font-size: .5rem;
    font-family: var(--body-font-family);
    letter-spacing: .1em;
    margin-bottom: 1em;
}
.people .profile .title{
    font-size: .3rem;
}




.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
